body {
  margin: 0;
  background: #fcfcfc;
  font-family: Baskerville;
  font-size: 24px;
  color: #555;
}

section, aside {
  margin-top: 48px;
  margin-bottom: 48px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  color: #666;
}

p {
  line-height: 1.5;
}

a {
  color: #666;
}

header {
  background: white;
  box-shadow: 0 0 4px #aaa;

  padding-top: 24px;
  padding-bottom: 24px;
}

header .page-content {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: #999;
}

.page-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 24px;
  padding-bottom: 24px;
}

#subscription {
  background: #333;
  padding: 48px;
}

.subscription-form {
  padding: 48px;
  background: white;
}

.subscription-form input[type="email"] {
  font-size: 24px;
  padding: 24px;
  border: 1px solid #777;
  box-sizing: border-box;
  width: 100%;

  margin-top: 24px;
  margin-bottom: 24px;
}

.subscription-form input[type="submit"] {
  border: none;
  box-shadow: none;
  border-radius: 2px;

  background: cornflowerblue;
  color: white;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;

  font-size: 24px;

  margin-top: 24px;
  margin-bottom: 24px;
}

.did-you-know {
  position: relative;
  left: 100%;
}

header {
  position: fixed;
  width: 100%;
} 

.subscription-form-close {
  position: absolute;
  top: 100%;
  right: 100%;
}
